.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center vertically in the viewport, adjust as needed */
}

.loader {
  width: 0;
  height: 0;
  border-left: 12px solid transparent; /* Triangle width */
  border-right: 12px solid transparent; /* Triangle width */
  border-bottom: 24px solid #fbbf24; /* Triangle color */
  animation: spin 0.8s infinite linear; /* Faster rotation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
