.snippetContainer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 1rem; /* Increased padding for better spacing */
  color: #f1f1f1;
  width: 85%;
  margin: auto;
}

@media (max-width: 768px) {
  .snippetContainer {
    width: 99%;
  }
}

.header {
  width: 100%;
  text-align: center;
  color: floralwhite;
  font-weight: bold;
  font-size: 2rem; /* Increased size for better emphasis */
}

.textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(40, 40, 40, 0.7);
  color: #f1f1f1;
  border: none;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  min-height: 100px; /* Set a minimum height */
  resize: none; /* Disable manual resizing */
}

/* Apply automatic height adjustment for small screens */
@media (max-width: 768px) {
  .textarea {
    height: auto; /* Allow the textarea to grow based on content */
    max-height: none;
    overflow: hidden; /* Hide the scrollbar */
  }
}



.saving {
  color: #5cb85c;
  font-weight: bold;
  text-align: center;
}


.snippetList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.25rem;
  background-color: transparent;
  color: #f0f0f0;
  border-radius: 8px;
}

.snippetItem {
  padding: 0.5rem;
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  box-sizing: border-box;
}

.loader{
  margin: 0.5rem; 
}
.loaderCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures the height is at least the full viewport height */
  margin: 0; /* Reset margin */
}
@media screen and (max-width: 600px) {
  .snippetItem {
    font-size: 0.875rem; 
  }
}

/* Styles for the search form */
.searchForm {
  color: #fdffff;
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center align items */
  margin-top: 2rem; /* Space above the form */
}

/* Styles for the search bar */
.searchContainer {
  position: relative; /* Ensure the icon is positioned relative to this container */
  width: 60%; /* Adjust the container width */
  display: flex; /* Flex layout for input and button alignment */
  align-items: center; /* Vertically center the content */
  margin: 0 auto; /* Center the search bar horizontally if needed */
}

.searchBar {
  background-color: rgba(68, 12, 104, 0.8); /* Slightly transparent background */
  color: white; /* Text color */
  padding: 0.5rem 1.5rem 0.5rem 1rem; /* Extra padding on the right for the icon */
  border-radius: 25px; /* Rounded corners */
   /* Light border for definition */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth transition effects */
  outline: none; /* Remove default outline */
  width: 100%; /* Full width of the container */
  font-weight: bold; /* Make text bold */
}

@media screen and (max-width: 600px) {
  .searchContainer {
    width: 90%; /* Adjust the width for mobile */
  }
  .searchBar {
    font-size: 0.875rem;
  }
}

.searchIcon {
  position: absolute;
  right: 15px; /* Adjust this based on your padding */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px; /* Adjust icon size */
  color: #f5d03d;
}

.searchIcon:hover {
  color: #555; /* Change color on hover */
}

/* Styles for the search bar on focus */
.searchBar:focus {
  border-color: #9032d8; /* Change border color on focus */
}



.snippetItem:hover {
  transform: translateY(-5px);
}

.realmInfo {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Sleek connection between Parent Realm and Realm */
.realmConnection {
  display: inline-flex;
  align-items: center;
}

.realmLink {
  color: #FDAF7B; /* Cool blue */
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.realmLink:hover {
  text-decoration: underline;
}

.arrow {
  margin: 0 0.5rem;
  color: #a266fb; /* Matches link color */
  font-size: 1.3rem;
}

/* Tags */
.tags {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  background-color: #401F71; /* Rich purple */
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 6px; /* Slightly more rounded */
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.tag:hover {
  background-color: #8a2be2; /* Brightened purple on hover */
  text-decoration: underline;
}

/* Created At */
.createdAt {
  display: block;
  font-size: 0.9rem;
  color: #ccc; /* Light gray for less emphasis */
  margin-top: 0.5rem;
}
