.snippetContainer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 1rem; /* Increased padding for better spacing */
  color: #f1f1f1;
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  .snippetContainer {
    width: 95%;
  }
}

.header {
  width: 100%;
  text-align: center;
  color: floralwhite;
  font-weight: bold;
  font-size: 2rem; /* Increased size for better emphasis */
}

.textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #333;
  color: #f1f1f1;
  border: none;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.saving {
  color: #5cb85c;
  font-weight: bold;
  text-align: center;
}

.snippetList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem;
  background-color: transparent;
  color: #f0f0f0;
  border-radius: 8px;
}

.snippetItem {
  padding: 1rem;
  background-color: rgba(40, 40, 40, 0.7); 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.snippetItem:hover {
  transform: translateY(-5px);
}

.realmInfo {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Sleek connection between Parent Realm and Realm */
.realmConnection {
  display: inline-flex;
  align-items: center;
}

.realmLink {
  color: #FDAF7B; /* Cool blue */
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.realmLink:hover {
  text-decoration: underline;
}

.arrow {
  margin: 0 0.5rem;
  color: #4da6ff; /* Matches link color */
  font-size: 1.2rem;
}

/* Tags */
.tags {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  background-color: #401F71; /* Rich purple */
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 6px; /* Slightly more rounded */
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.tag:hover {
  background-color: #8a2be2; /* Brightened purple on hover */
  text-decoration: underline;
}

/* Created At */
.createdAt {
  display: block;
  font-size: 0.9rem;
  color: #ccc; /* Light gray for less emphasis */
  margin-top: 0.5rem;
}
